.row
  .input-field.col.s12
    %i.material-icons.prefix reorder
    = f.collection_select :parent_id, Category.all, :id, :name
    = f.label :parent_id, 'Из категории', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = f.text_field :name, id: 'icon_prefix', class: 'validate'
    = f.label :name, 'Название', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix http
    = f.text_field :url, id: 'icon_prefix', class: 'validate'
    = f.label :url, 'Путь URL', class: 'icon_prefix'

= f.submit class: 'btn waves-effect waves-light'

:javascript
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });