.row
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: new_cp_category_path, title: '+', text: 'Добавить'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: Category.catalogs.size, text: 'Каталогов'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: @categories.size, text: 'Всего'

.row
  .col.s12
    - if @categories.any?
      %table.stripped
        %thead
          %tr
            %td Название
            %td Путь URL - уникальный
            %td Родительский
            %td Действие

        - @categories.each do |category|
          %tr
            %td= link_to category.name, cp_category_path(category)
            %td= category.url
            %td= category.parent ? category.parent.name : 'Catalog'
            %td
              = link_to cp_category_path(category) do
                %i.material-icons.small visibility
              = link_to edit_cp_category_path(category) do
                %i.material-icons.small edit
