.info-box
  .info-box-header Category Info

  .info-box-content
    .info_line
      .info_line-title Name
      .info_line-text= @category.name

    .info_line
      .info_line-title URL
      .info_line-text= @category.url

    .info_line
      .info_line-title Parent
      .info_line-text
        - if @category.parent
          = link_to @category.parent.name, cp_category_path(@category.parent)
        - else
          Main Catalog

.info-box
  .info-box-header Subcategories

  .info-box-content
    - if @category.subcategories.any?
      .info_line
        %ul
          - @category.subcategories.each do |category|
            %li= link_to category.name, cp_category_path(category)
    - else
      %p No subcategories