.dashboard-tile {
  background-color: #2196f3;
  color: #e3f2fd;
}

.collection-description {
  margin-left: 24px;
}

.collection-price {
  line-height: 55px !important;
  font-size: 1.5rem !important;
}