.row
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 5, text: 'Новые заказы'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 11, text: 'Отправленные заказы'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 273, text: 'Выполненные заказы'

-#  красный - новый
-#  оранжевый - подтвержден
-#  желтый - формируется
-#  синий - отправлен
-#  зеленый - выполнен
-#  фиолетовый - !!!
-#  серый - отменен

-# TODO В зависимости от статуса выбирается основная иконка и формируется список иконок
.row
  .col.s12
    %ul.collection
      -#- @orders.each do |order|
        %li.collection-item
          %span.horizontal.click-to-toggle
            = link_to cp_order_path(order), class: 'btn-floating btn-large waves-effect waves-light red' do
              %i.material-icons phone
            -#%ul
              %li
                %a.btn-floating.red
                  %i.material-icons insert_chart
              %li
                %a.btn-floating.yellow.darken-1
                  %i.material-icons format_quote

          %span.collection-description= order.created_at.strftime('%Y-%m-%d %H:%M:%S')
          %span.collection-description #{order.status}
          %span.badge.collection-price #{order.total} &#8372;

-# TODO order changes log
.row
  .col.s12.center-align
    %h5 Последние события по заказам
