#main
  - if @books.empty?
    %h1.main_title Корзина

  - else
    %h1.main_title В корзине #{@books.count} книг
    %section
      %ul#cart-list
        #cart-list-title
          %span.cell.width_50 Удалить
          %span.cell.width_100 Картинка
          %span.cell Книга
          %span.cell.width_110 Количество
          %span.cell.width_100 Сумма
        - @summ = 0

        - @books.includes(:images).each do |book|
          %li.cart_tile{data: book.id}
            .cell
              %a.cart_tile_del{data: {id: book.id}}
                = image_tag('cart_del_16.gif', {alt: 'Удалить из корзины', title: 'Удалить из корзины'})
            .cell
              = image_tag book_image_tile_path(book.images[0]), title: book.name, alt: book.name, class: 'cart_tile_image'
            .cell
              = link_to book.name, "/catalog/sk/#{book.url}", {target: '_blank', class: 'cart_tile_link', alt: book.name, title: book.name}
              %span.cart_tile_price
                = book.price
              %span.cart_tile_available.av_yes= t('book.in_stock')
            .cell
              %span.minus.input_inc -
              = text_field_tag("book_#{book.id}", session[:cart]["#{book.id}"], {class: 'cart_tile_count', maxlength: 2, data: {id: book.id}})
              %span.plus.input_inc +
            .cell
              - price = session[:cart][book.id.to_s] * book.price
              - @summ += price
              %span.cart_tile_summa= price
              = t(:uah)

      #cart-list-caption
        %h2.cart_order_summa
          Общая стоимость
          %font.cart_book_summa#cart_total= @summ
          = t(:uah)
        %a.cart_order.button{href: '/order/'} Оформить заказ