.row
  .input-field.col.s12
    %i.material-icons.prefix reorder
    = f.collection_select :category_id, Category.only_categories, :id, :name
    = f.label :category_id, 'Из категории', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = f.text_field :name, id: 'icon_prefix', class: 'validate'
    = f.label :name, 'Название', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix http
    = f.text_field :url, id: 'icon_prefix', class: 'validate'
    = f.label :url, 'Путь URL', class: 'icon_prefix'

  .input-field.col.s6.m4.l3
    %i.material-icons.prefix attach_money
    = f.text_field :price, id: 'icon_prefix', class: 'validate'
    = f.label :price, 'Цена', class: 'icon_prefix'

  = f.label :available, 'Наличие'
  .switch
    %label
      Отсутствует
      = f.check_box :available
      %span.lever
      В наличии

  .input-field.col.s12
    %i.material-icons.prefix description
    = f.text_area :text, id: 'icon_prefix', class: 'materialize-textarea'
    = f.label :text, 'Содержание', class: 'icon_prefix'

= f.submit class: 'btn waves-effect waves-light'

:javascript
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });