.book_info.book_cell
  %ul.book_info_param
    %li
      .book_info_param-left
        = t('book.publisher')
      .book_info_param-right
        = @book.try(:annotation) || '-'
    %li
      .book_info_param-left
        = t('book.cover')
      .book_info_param-right
        = @book.try(:annotation) || '-'
    %li
      .book_info_param-left
        = t('book.dimensions')
      .book_info_param-right
        = @book.try(:annotation) || '-'
    %li
      .book_info_param-left
        = t('book.page_count')
      .book_info_param-right
        = @book.try(:annotation) || '-'

  %h3.book_info_annotation
    = @book.try(:annotation) || '-'
  %pre.book_info_description
    = @book.text
