%ul
  - if @book.images.any?
    - @book.images.each do |image|
      - link = image.file_exist? ? image.image_url(:tile) : '/img/wm/watermark_220_10b.png'
      %li.small_img
        = link_to link, rel: 'group' do
          = image_tag link
