.row
  .col.s12
    %h3 Редактировать книгу

  = form_for @book, url: cp_book_path(@book), id: 'book_form' do |f|
    = render 'form', f: f

-# TODO REVIEW code form_for
= form_for @book, url: cp_book_image_upload_path(@book), html: { multipart: true, class: 'dropzone', id: 'dropzone_upload'}, data: {url: cp_book_images_path(@book)}  do |f|
  .fallback
    = f.file_field :image
    = f.submit 'Upload'

#book_images
  = render 'book_images'

:javascript
  $(document).ready(function(){
    Dropzone.autoDiscover = false;

    $("#dropzone_upload").dropzone({
        maxFilesize: 10,

        success: function(file, response){
            $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
            $(file.previewElement).addClass("dz-success");

            $.ajax({
              url : $("#dropzone_upload").data('url'),
              dataType : "script"
            });
        },

        removedfile: function(file){
            var id = $(file.previewTemplate).find('.dz-remove').attr('id');

            // make a DELETE ajax request to delete the file
            $.ajax({
                type: 'DELETE',
                url: '/uploads/' + id,
                success: function(data){
                    console.log(data.message);
                }
            });
        }

    });
  });