.row
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: new_cp_book_path, title: '+', text: 'Добавить'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 5, text: 'В наличии'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: Book.all.size, text: 'Всего'

.row
  .col.s12
    - if @books.any?
      %table.stripped
        %thead
          %tr
            %td ID
            %td Название
            %td Путь URL - уникальный
            %td Цена
            %td Действие

        - @books.each do |book|
          %tr
            %td
              %span{id: "book_#{book.id}"}= book.id
            %td= book.name
            %td= book.url
            %td #{book.price} грн
            %td
              = link_to 'Изменить', edit_cp_book_path(book)
