-#- page_heading(@book.name)

%h1.main_title
  = @book.name

#main
  .book_container
    .book_images.book_cell#gallery
      = render 'big_image'
      = render 'small_images'

    = render 'info'
    = render 'buy'