- if client_form.object.errors.any?
  .col
    - client_form.object.errors.each do |error, text|
      %p.red-text= "#{error} - #{text}!"

.col.s12.l6

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = client_form.text_field :name, id: 'icon_prefix', class: 'validate'
    = client_form.label :name, 'name', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = client_form.text_field :phone, id: 'icon_prefix', class: 'validate'
    = client_form.label :phone, 'phone', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = client_form.text_field :address, id: 'icon_prefix', class: 'validate'
    = client_form.label :address, 'address', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = client_form.text_field :email, id: 'icon_prefix', class: 'validate'
    = client_form.label :email, 'email', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix reorder
    = client_form.collection_select :delivery_id, DeliveryType.all, :id, :name
    = client_form.label :delivery_id, 'Delivery', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix reorder
    = client_form.collection_select :payment_id, PaymentType.all, :id, :name
    = client_form.label :payment_id, 'Payment', class: 'icon_prefix'

  .input-field.col.s12
    %i.material-icons.prefix mode_edit
    = client_form.text_field :notes, id: 'icon_prefix', class: 'validate'
    = client_form.label :notes, 'notes', class: 'icon_prefix'

-#.col.s12.l6
  = render 'form_orders', client_form: client_form

:javascript
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });