%p created #{@client.created_at}
%p updated #{@client.updated_at}
%p name #{@client.name}
%p phone #{@client.phone}
%p delivery_id #{@client.delivery_id}
%p payment_id #{@client.payment_id}
%p email #{@client.email}
%p address #{@client.address}
%p notes #{@client.notes}
