.row
  .col.s12
    %h3 Редактировать client

= form_for @client, url: cp_client_path(@client), id: 'order_form' do |client_form|
  .row
    = render 'form', client_form: client_form

  .row
    .col
      = client_form.submit class: 'btn waves-effect waves-light'