.row
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: new_cp_client_path, title: '+', text: 'Добавить'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 11, text: 'Новый'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: @clients_count[:all], text: 'Всего'

.row
  .col.s12
    - if @clients.any?
      %table.striped
        %thead
          %tr
            %th{data: {field: 'name'}} Name
            %th{data: {field: 'date'}} Дата
        %tbody
          - @clients.each do |client|
            %tr
              %td
                =link_to cp_client_path(client) do
                  = client.name
              %td= client.created_at
