.row
  .col.s12
    - if !@client.valid? && @client.errors.any?
      - @client.errors.each do |error, text|
        %p #{error}:
        %span.text-red= text

.row
  .col.l8
    = form_for @client, {url: delivery_info_path(@client), id: 'order_form', class: 'form-container'} do |client|

      .form_group
        = client.text_field :name, class: 'form_text'
        = client.label :name, 'Имя и фамилия: ', class: 'form-label'

      .form_group
        = client.text_field :phone, class: 'form_text'
        = client.label :phone, 'Мобильный тел.: ', class: 'form-label'

      .form_group
        = client.text_field :address, class: 'form_text'
        = client.label :address, 'Адрес доставки: ', class: 'form-label'

      .form_group
        = client.collection_select :delivery_id, DeliveryType.all, :id, :name, {:prompt=>true}, {class: 'form_select'}
        = client.label :delivery_id, 'Доставка: ', class: 'form-label'

      .form_group
        = client.collection_select :payment_id, PaymentType.all, :id, :name, {:prompt=>true}, {class: 'form_select'}
        = client.label :payment_id, 'Payment: ', class: 'form-label'

      .form_group
        = client.text_field :notes, class: 'form_text'
        = client.label :notes, 'Комментарий к заказу: ', class: 'form-label'

      .form_group
        = client.text_field :email, class: 'form_text'
        = client.label :email, 'E-mail адрес: ', class: 'form-label'

      = client.submit class: 'btn waves-effect waves-light'
