%h1 Заказ успешно оформлен

%p Менеджер позвонит Вам на номер #{@order.client.try(:phone)} в ближайшее время

- if @order.client.email.present?
  %p письмо отправлено на почту #{@order.client.email}
- else
  %p письмо НЕ БЫЛО отправлено, потому что почта не указана

%strong Спасибо за покупки!