.book_tile
  %a.book_tile_image-link{href: "/catalog/sk/#{book.url}"}
    - if book.images.any?
      = image_tag book_image_tile_path(book.images[0]), class: 'book_tile_image'
    -#- if book.images.any?
      %img.book_tile_image{src: book_tile_path(book.images[0]), title: book.name, alt: book.name}

  %a.book_tile_name-link.height_line3{href: "/catalog/sk/#{book.url}", title: book.name}
    %h3.book_tile_name.height_line3= book.name

  %footer.book_tile_footer
    %span.book_tile_price #{book.price} #{t(:uah)}
    %a.book_tile_buy-button{data: {id: book.id}}
      = image_tag('cart.gif')