#book_buy.book_cell
  %span.book_buy_price
    = "#{@book.price} #{t(:uah)}"
  = link_to '', class: 'book_buy_button', data: {id: @book.id}do
    = t('book.to_cart')
  #send.book_buy_available
    = t('book.in_stock')
