%ul
  - if @book.images.any?
    - @book.images.each do |image|
      %li.small_img
        = link_to book_image_small_path(image), rel: 'group' do
          = image_tag(book_image_small_path(image))
