#sticky_container
  %nav.header_catalog.header_cell
    = render 'layouts/application/main_menu'

  .header_search.header_cell
    = form_tag('/search/', method: 'get', class: 'header_find') do
      = text_field_tag :search, params[:search], class: 'header_find_input'
      %span.header_search-button
        = submit_tag 'Найти', class: 'search_button'

  .header_cart.header_cell
    = link_to cart_root_path do
      #cart= render('cart/cart')