%header
  .page_header_tab
    = render 'layouts/application/header_logo'
    = render 'layouts/application/header_phones'
    = render 'layouts/application/header_info_menu'

  .page_header
    = render 'layouts/application/header_sticky_container'