%nav.header_cell
  %ul.header_menu
    %li
      -#= link_to t('header.info_menu.delivery'), delivery_path
    %li
      -#= link_to t('header.info_menu.help'), ''
    %li
      -#= link_to t('header.info_menu.contacts'), contacts_path