%ul.catalog_menu.hide_menu
  %li
    %span.catalog_menu_catalog
      = t('header.catalog')
    %ul
      - Category.catalogs.each do |catalog|
        %li
          = link_to catalog.name, "/catalog/#{catalog.url}", {class: 'catalog_category-link'}
          %ul.catalog_menu_links
            - catalog.subcategories.each do |sub|
              %li
                = link_to sub.name, "/catalog/#{sub.url}", {class: 'links_catalog_cat-link'}