.book_container {
  display: table;
  width: 100%;
}

.book_cell {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.book_images {
  width: 30%;
}

.book_info {}

#book_buy {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  width: 20%;
}

.big_img {
  display: block;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  box-sizing: border-box;
  > a {
    display: block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    position: relative;
    border: 14px solid transparent;
    padding: 0px 0px calc(100% - 10px);
  }
  img {
    top: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    transform: translateZ(0px);
    position: absolute;
    margin: auto;
    left: 0px;
  }
}

.small_img {
  display: inline-block;
  width: calc( 100% / 5 );
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  float: left;
  box-sizing: border-box;
  > a {
    display: block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    position: relative;
    border: 4px solid transparent;
    padding: 0px 0px calc(100% - 10px);
  }
  img {
    top: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    transform: translateZ(0px);
    position: absolute;
    margin: auto;
    left: 0px;
  }
}

.big_img:hover, .small_img:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.book_info_annotation {
  padding-left: 25px;
  font-size: 14px;
  font-weight: bold;
}

.book_info_description {
  font: 14px/1.4em "Open Sans",Arial,sans-serif;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0  10px 15px;
}

.book_buy_price {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  display: block;
}

.book_buy_button {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  /*  border: 1px solid #2196be;*/
  background: #FC8533;
  background: linear-gradient(to bottom, #FC8533 0px, #FC8533 50%, #FB6700 51%, #FB6700 100%) repeat scroll 0% 0% transparent;
  color: #fff;
  /*  text-shadow: rgba(0,1,1,.3) 0 1px 0;*/
  transition: 0.2s;
  width: 100%;
  line-height: 45px;
  height: 45px;
  cursor: pointer;
  &:hover {
    /*   background: #41b1d3;
       background: -webkit-gradient(linear, left top, left bottom, from(#41b1d3), to(#3095b4));
       background: -webkit-linear-gradient(top, #41b1d3, #3095b4);
       background: -moz-linear-gradient(top, #41b1d3, #3095b4);
       background: -ms-linear-gradient(top, #41b1d3, #3095b4);
       background: -o-linear-gradient(top, #41b1d3, #3095b4);*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
  }
}

.book_buy_available {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.book_buy_empty {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  display: block;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ce8a89;
  background-color: #f0dfd8;
}

.book_buy_available {
  border: 1px solid #8ace89;
  background-color: #dff0d8;
}

.book_incart_button {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  background: #6ac528;
  background: linear-gradient(to bottom, #6ac528 0px, #6ac528 50%, #49b200 51%, #49b200 100%) repeat scroll 0% 0% transparent;
  color: #fff;
  transition: 0.2s;
  width: 100%;
  line-height: 45px;
  height: 45px;
  cursor: pointer;
}

.book_info_param {
  margin-left: 10px;
  line-height: 30px;
  width: 100%;
  padding-top: 10px;
  li {}
}

.book_info_param-left {
  width: 40%;
  float: left;
}

.book_info_param-right {
  width: 55%;
  margin-left: 40%;
}

.book_info_param-dot {}