.main_title  {
  text-align: center;
}

#cart-list  {
  display: table;
  width: 100%;
  font-size: 18px;
  list-style:none;
  list-style-type:none;
}

#cart-list,
#cart-list-caption {
  max-width: 1000px;
  margin: 0 auto;
}

.cart_tile  {
  display: table-row;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  background: none repeat scroll 0% 0% #FFF;
  border-radius:1px;
  transform: translateZ(0px);
  font-size: 1em;
}

.cart_tile:hover  {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.cart_tile_image  {
  width: 100%;
  max-height: 100%;
  /*  max-width: 120px;
    max-height: 120px;*/
}

.cart_tile_link {
  display: block;
  text-decoration: none;
  text-align: left;
}

.cart_tile_available  {
  font-size: 14px;
  float: left;
  line-height: 40px;
  margin-left: 20px;
}

.av_yes  {
  color: green;
}

.av_no  {
  color: red;
}

.cart_tile_price,
.cart_order_summa  {
  color: #404040;
  font-size: 24px;
  font-weight: 700;
  float: left;
}

.cart_tile_count  {
  text-align: center;
  display: inline-block;
  width: 23px;
  height: 21px;
  font: 1.13em "Open Sans",Arial,sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 2px 2px 1px 0px #DDD inset;
  padding: 5px;
  resize: none;
}

.cart_tile_summa  {
  font: 1.13em "Open Sans",Arial,sans-serif;
}

.input_inc  {
  cursor:pointer;
  width: 30px;
  display: inline-block;
  font-size: 36px;
  color: #006AB4;
  padding: 5px 0;
}

.input_inc:hover  {
  color: #E85222;
}

#cart-list-title  {
  font-size: 14px;
  display: table-row;
  box-sizing: border-box;
}

#cart-list-caption  {
  caption-side: bottom;
  vertical-align: middle;
  padding: 15px 10px 20px;
  line-height: 50px;
  box-sizing: border-box;
}

.cart_order {
  width: 200px;
  float: right;
}

.button {
  display: block;
  font-size:17px;
  font-weight: 700;
  text-decoration: none;
  text-align:center;
  border-radius: 3px;
  background: #FC8533;
  background: linear-gradient(to bottom, #FC8533 0px, #FC8533 50%, #FB6700 51%, #FB6700 100%) repeat scroll 0% 0% transparent;
  color:#fff;
  transition: 0.2s;
  line-height:45px;
  height:45px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.25);
  color:#fff;
}

.width_100  {
  width: 100px;
}

.width_110  {
  width: 110px;
}

.width_50  {
  width: 50px;
}

#order_form  {
  max-width: 550px;
  box-sizing: border-box;
  margin: 0 auto;
}

.form_group {
  padding: 10px;
  clear: both;
}

.form-label  {
  float: left;
  text-align: right;
  width: 10%;
  min-width: 9em;
  display: block;
  margin-right:15px;
  font-weight: bold;
  color: #666;
  line-height: 40px;
}

.form_select,
.form_text,
.form_textarea,
.form_price {
  font-size: 20px;
  padding: 5px;
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:2px;
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
  width: 18em;
}

.form_select:focus,
.form_text:focus,
.form_textarea:focus,
.form_price:focus  {
  background: #fff;
  border:1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

.form_text:required,
.form_textarea:required,
.form_price:required   {
  background: #fff url(img/red_asterisk.png) no-repeat 98% center;
}

.form_select:required:valid  {
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

.form_text:required:valid,
.form_textarea:required:valid,
.form_price:required:valid {
  background: #fff url(img/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

.form_select:focus:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

.form_text:focus:invalid,
.form_textarea:focus:invalid,
.form_price:focus:invalid  {
  background: #fff url(img/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}