%table.stripped
  %thead
    %tr
      %th Name
      %th Qty
      %th Price
      %th Total

  %tbody
    - total = 0
    - @order.books.includes(:book).each do |book|
      - total += book.quantity * book.price
      %tr
        %td= book.book.name
        %td= book.quantity
        %td= book.price
        %td= book.quantity * book.price

  %tfoot
    %tr
      %th
      %th
      %th Total
      %th= total