%table.stripped#order_books
  %thead
    %tr
      %th X
      %th Name
      %th Price
      %th Qty
      %th Total

  %tbody
    = order_form.fields_for :books do |book_form|
      = render 'order_book', book_form: book_form

= link_to '#', class: 'duplicate_nested_form btn-floating btn-large waves-effect waves-light red' do
  %i.material-icons add
