- if order_form.object.errors.any?
  .col
    - order_form.object.errors.each do |error, text|
      %p.red-text= "#{error} - #{text}!"

.col.s12.l6
  .input-field
    %i.material-icons.prefix reorder
    = order_form.collection_select :status_id, OrderStatus.all, :id, :name
    = order_form.label :status_id, 'Status', class: 'icon_prefix'

.col.s12.l6
  = render 'form_books', order_form: order_form

:javascript
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });