%tr.duplicatable_nested_form
  %td
    = link_to 'R', '', remote: true, class: 'destroy_duplicate_nested_form'
    - if book_form.object.persisted?
      = book_form.hidden_field(:_destroy, class: '_destroy')

  %td= book_form.select :book_id, options_for_select(Book.all.map{ |book| [book.name, book.id, {data: {price: book.price}}] }, selected_key = book_form.object.book_id), { include_blank: '' }, onchange: 'reloadPrice(this)'
  %td= book_form.text_field :price, class: 'order_book-price', onchange: 'recalculateTotal(this)'
  %td= book_form.text_field :quantity, input_html: { min: 1 }, class: 'order_book-qty', onchange: 'recalculateTotal(this)'
  %td
    - if book_form.object.quantity && book_form.object.price
      %strong.order_book-total= book_form.object.quantity * book_form.object.price

-# TODO do not use price in options attr without check

:coffeescript

  @reloadPrice = (_this)->
    book = $(_this).parent().parent().parent()
    price = $(_this).find('option:selected').attr('data-price')
    @bookTotalPrice(book, price)
    return

  @recalculateTotal = (_this)->
    book = $(_this).parent().parent()
    price = book.find('.order_book-price').val()
    @bookTotalPrice(book, price)
    return

  @bookTotalPrice = (book, price) ->
    qty = book.find('.order_book-qty').val()
    book.find('.order_book-price').val(price)
    book.find('.order_book-total').html(price * qty)
    return