.row
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: new_cp_order_path, title: '+', text: 'Добавить'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: 11, text: 'Новый'
  .col.s12.m6.l4
    = render '/control_panel/shared/tile', link: '', title: @orders_count[:all], text: 'Всего'

.row
  .col.s12
    - if @orders.any?
      %table.striped
        %thead
          %tr
            %th{data: {field: 'id'}} #
            %th{data: {field: 'date'}} Дата
            -#%th{data: {field: 'client'}} Клиент
            %th{data: {field: 'status'}} Статус
            %th{data: {field: 'sum'}} Сумма
            %th{data: {field: 'action'}} Действие
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.id
              %td= order.created_at
              -#%td -
              %td= order.status
              %td= order.total
              %td
                = link_to cp_order_path(order) do
                  %i.material-icons.small visibility
                = link_to edit_cp_order_path(order) do
                  %i.material-icons.small edit
