.row
  .col.s12
    %h3 Добавить новый заказ

= form_for @order, url: cp_orders_path, id: 'order_form' do |order_form|
  .row
    = render 'form', order_form: order_form

  .row
    .col
      = order_form.submit class: 'btn waves-effect waves-light'