.row
  .col.s12
    %h3 Информация по заказу №: #{@order.id}

.row
  .col.s12.l6
    = render 'info'

  .col.s12.l6
    = render 'books_list'

= link_to 'edit', edit_cp_order_path(@order), class: 'btn waves-effect waves-light'