!!!
%html
  %head
    -#%title= page_title
    %title page_title
    %link{rel: 'icon', type: 'image/png', href: 'http://book-market.com.ua/favicon.png'}
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
    /[if lt IE 9]
  -#%script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %body
    %section.page_wrapper#template
      = render 'layouts/application/header'
      %section.content#container
        = yield
      = render 'layouts/application/footer'