!!!
%html
  %head
    %title Control panel - Book-Market
    %link{rel: 'icon', type: 'image/png', href: 'http://book-market.com.ua/favicon.png'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons'}
    = stylesheet_link_tag :control_panel, media: 'all'
    = javascript_include_tag  :control_panel
    = csrf_meta_tags
    /[if lt IE 9]

  %body
    %nav
      .nav-wrapper
        .col.s12
          %a{href: cp_root_path, class: 'breadcrumb'} Dashboard
          %a{href: cp_categories_path, class: 'breadcrumb'} КАТЕГОРИИ
          %a{href: cp_books_path, class: 'breadcrumb'} КНИГИ
          -#%a{href: cp_orders_path, class: 'breadcrumb'} ЗАКАЗЫ
          -#%a{href: cp_clients_path, class: 'breadcrumb'} CLIENTS

    %section.container
      = yield